<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar fixed-top">
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg mb-4 fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/">🌿 PlantShop</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav me-auto"></ul>
				<ul class="navbar-nav">
					<li th:if="${loggedUserName}" class="navbar-text me-2"
						th:text="${userRoleString == 'admin' ? loggedUserName + ' (Administrateur)' : loggedUserName}">
					</li>
					<li th:if="${userRoleString == 'visitor' || userRoleString == 'user' || userRoleString == 'admin'}"
						class="nav-item">
						<a class="nav-link" id="cart-link" href="/cart">Mon Panier</a>
					</li>
					<li th:if="${userRoleString == 'visitor'}" class="nav-item">
						<a class="nav-link" href="/login">Connexion</a>
					</li>
					<li th:if="${userRoleString == 'visitor'}" class="nav-item">
						<a class="nav-link" href="/register">Inscription</a>
					</li>
					<li th:if="${userRoleString == 'user' || userRoleString == 'admin'}" class="nav-item">
						<a class="nav-link" href="/my_profile">Mon Profil</a>
					</li>
					<li th:if="${userRoleString == 'user' || userRoleString == 'admin'}" class="nav-item">
						<a class="nav-link" href="/orders">Mes Commandes</a>
					</li>

					<li th:if="${userRoleString == 'admin'}" class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
							Admin
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/admin/plants">Gestion Plantes</a></li>
							<li><a class="dropdown-item" href="/admin/users">Gestion Utilisateurs</a></li>
						</ul>
					</li>

					<li th:if="${userRoleString == 'user' or userRoleString == 'admin'}" class="nav-item">
						<form th:action="@{/logout}" method="post">
							<button type="submit" class="nav-link btn btn-link">Déconnexion</button>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</nav>
