<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/base}"
      th:with="title='Liste des plantes'">
<head>
    <title>Plantes</title>
</head>
<body>
    <div layout:fragment="content">
        <h1 class="mb-4">🌿 Liste des Plantes</h1>

        <div sec:authorize="hasRole('ADMIN')" class="mb-3">
            <a href="/admin/plants/new" class="btn btn-primary">Ajouter une plante</a>
        </div>

        <div class="row">
            <div th:each="plant : ${plants}" class="col-md-4 mb-4">
							<a th:href="@{'/plants/' + ${plant.id}}" class="text-decoration-none text-reset">
								<div class="card h-100">
										<div class="card-body">
												<h5 class="card-title" th:text="${plant.name}">Nom</h5>
												<p class="card-text" th:text="${plant.description}">Description</p>
												<p class="text-muted">
														Prix : <span th:text="${plant.price}">0.0</span> €
												</p>
												<p class="text-muted">
														Stock : <span th:text="${plant.stock}">0</span>
												</p>
												<a th:href="@{'/plants/' + ${plant.id}}" class="btn btn-outline-primary">Voir détails</a>
										</div>
								</div>
						</a>
					</div>
        </div>
    </div>
</body>
</html>
