<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/base}"
      th:with="title='Modifier utilisateur'">
<head>
    <title>PlantShop | Modifier utilisateur</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container pt-5 mt-5">
        <h1>Modifier l'utilisateur</h1>

        <form th:action="@{'/admin/users/' + ${user.id}}" th:object="${user}" method="post">
            <input type="hidden" name="_method" value="patch"/>

            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Erreur</li>
                </ul>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input id="email" type="email" class="form-control" th:field="*{email}"/>
            </div>

            <div class="mb-3">
                <label for="name" class="form-label">Nom</label>
                <input id="name" type="text" class="form-control" th:field="*{name}"/>
            </div>

            <div class="mb-3 form-check">
                <input id="admin" type="checkbox" class="form-check-input"
                       th:checked="${user.getRole().name() == 'ADMIN'}"
                       name="admin"/>
                <label for="admin" class="form-check-label">Administrateur ?</label>
            </div>

            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
    </div>
</div>
</body>
</html>
