<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Icône du site -->
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />

	<title>PlantShop | [[${title}]]</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<th:block th:with="userRoleString=${userRole}">
		<!-- Navbar -->
		<div th:replace="~{fragments/navbar :: navbar}"></div>
		<div class="container">
			<!-- Messages flash -->
			<div th:if="${message}" class="alert alert-success" th:text="${message}"></div>
			<div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

			<!-- Contenu principal -->
			<div layout:fragment="content"></div>
		</div>

		<!-- Bootstrap JS -->
		<script src="/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
		<script th:src="@{/js/app.js}"></script>
	</th:block>

</body>

</html>
