<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/base}"
      th:with="title='Connexion'">
<head>
    <title>Connexion</title>
</head>
<body>
<div layout:fragment="content">
    <section class="container pt-5 mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card shadow">
                    <div class="card-header bg-success text-white">
                        <h4 class="mb-0 text-center">Connexion</h4>
                    </div>
                    <div class="card-body p-4">

                        <div th:if="${param.error}" class="alert alert-danger">
                            Identifiants invalides
                        </div>

                        <form th:action="@{/login}" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">Email</label>
                                <input type="text" class="form-control" id="username" name="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Mot de passe</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <button type="submit" class="btn btn-success w-100">Se connecter</button>
                        </form>

												<div class="mt-3 text-center">
													<span>Pas encore de compte ?&nbsp;</span>
													<a th:href="@{/register}" class="text-success text-decoration-none">Inscrivez-vous !</a>
											</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
